# Git Configuration
# Managed by chezmoi

[user]
  name = {{ onepasswordRead "op://Private/7i6yzmonhr36trvokpnhn7efve/Name" }}
  email = {{ onepasswordRead "op://Private/7i6yzmonhr36trvokpnhn7efve/email" }}
  signingkey = {{ onepasswordRead "op://Private/7i6yzmonhr36trvokpnhn7efve/public key" }}

[init]
  defaultBranch = main

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  pager = delta

[push]
  default = current

[pull]
  rebase = true

[branch]
  autosetuprebase = always

[diff]
  renames = copies
  mnemonicprefix = true
  colorMoved = default

[merge]
  conflictstyle = diff3

[rebase]
  autosquash = true

[fetch]
  prune = true
  pruneTags = true

[remote "origin"]
  prune = true

# =============================================================================
# Commit Signing (1Password SSH)
# =============================================================================

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

# =============================================================================
# Delta Pager
# =============================================================================

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended
  navigate = true
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

# =============================================================================
# Colors
# =============================================================================

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true

[color "branch"]
  current = green bold
  local = green
  remote = red bold

[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
  commit = yellow bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red

# =============================================================================
# Aliases
# =============================================================================

[alias]
  # Graph log
  gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"

  # Status
  s = status -s
  st = status

  # Branch
  b = branch
  br = branch

  # Checkout
  co = checkout
  cob = checkout -b
  com = checkout main

  # Commit
  ci = commit
  ca = commit -a
  cam = commit -am

  # Push
  pt = push --tags

  # Fetch
  ft = fetch --tags

  # Log formats
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  le = log --oneline --decorate

  # File history with diffs
  fl = log -u
  filelog = log -u

  # Last commit files/diff
  dl = "!git ll -1"
  dlc = diff --cached HEAD^

  # Find files
  f = "!git ls-files | grep -i"

  # Grep from repo root
  gra = "!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep --full-name -In $1 | xargs -I{} echo $TOPLEVEL/{} && cd $A; }; f"

  # List aliases
  aliases = "!git config -l | grep alias | cut -c 7-"

  # Tags
  tags = tag -l
  lasttag = describe --tags --abbrev=0
  lt = describe --tags --abbrev=0

  # Assume unchanged (useful for local config changes)
  assume = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed = "!git ls-files -v | grep ^h | cut -c 3-"
  unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"

  # Merge conflict helpers
  ours = "!f() { git co --ours $@ && git add $@; }; f"
  theirs = "!f() { git co --theirs $@ && git add $@; }; f"

  # WIP commits
  wip = !"git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"wip\""
  unwip = !"git log -n 1 | grep -q -c wip && git reset HEAD~1"

  # Pull request fetch
  pr = "!f() { git fetch origin refs/pull/$1/head:pr/$1; }; f"

  # Contributors
  who = shortlog -s --

  # Panic backup
  panic = !tar cvf ../git_panic.tar *

  # Generate .gitignore from gitignore.io
  ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"

# =============================================================================
# Git LFS
# =============================================================================

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

# =============================================================================
# Credentials
# =============================================================================

[credential "https://github.com"]
  helper =
  helper = !$HOME/.local/share/mise/shims/gh auth git-credential

[credential "https://gist.github.com"]
  helper =
  helper = !$HOME/.local/share/mise/shims/gh auth git-credential

[mergetool]
  keepBackup = false
  prompt = false

[difftool]
  prompt = false
