{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

source "${CHEZMOI_SOURCE_DIR}/.shlibs/sh/logging.sh"
r35_log_header "Installing \033[1mbrew\033[0m packages..."

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
