{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# Upgrade bob via Homebrew if installed that way

source "${CHEZMOI_SOURCE_DIR}/.shlibs/sh/logging.sh"
# Check if bob is installed via Homebrew
if ! brew list bob &>/dev/null; then
  r35_log_info "\033[1mbob\033[0m is not installed via homebrew"
  exit 0
fi

# Check if upgrade is available
if brew outdated bob &>/dev/null; then
  r35_log_header "Upgrading \033[1mbob\033[0m via Homebrew..."
  brew upgrade bob
  r35_log_ok "\033[1mbob\033[0m upgraded"
fi
{{ end -}}
