#!/usr/bin/env zsh

INSTALL_DIR=${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k

if [ -d "${INSTALL_DIR}" ]; then
  git -C ${INSTALL_DIR} fetch
  git -C ${INSTALL_DIR} pull
else
  git clone --depth=1 https://github.com/romkatv/powerlevel10k.git
fi
