{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

source "${CHEZMOI_SOURCE_DIR}/.shlibs/sh/logging.sh"
r35_log_header "Installing \033[1mapt\033[0m packages..."

sudo apt update &&
  sudo apt install -y {{ range .packages.linux.apt }}{{ . }} {{ end -}}
{{ end -}}
