# vim:fileencoding=utf-8:foldmethod=marker:filetype=kitty.chezmoitmpl
{{- $brewPrefix := "/opt/homebrew" -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $brewPrefix = "/usr/local" -}}
{{- end -}}

enable_audio_bell         no
{{- if eq .chezmoi.os "darwin" }}
# NOTE: I have movied away from using multiplexers so we're dropping this shell setting
# shell                     {{ $brewPrefix }}/bin/fish --login -c "terminal-multiplexer-picker"
editor                    {{ $brewPrefix }}/bin/nvim
macos_option_as_alt       left
{{- else }}
# NOTE: I have movied away from using multiplexers so we're dropping this shell setting
# shell                     /usr/bin/fish --login -c "terminal-multiplexer-picker"
editor                    /usr/bin/nvim
{{- end }}
allow_remote_control      yes
allow_hyperlinks          yes
shell_integration         enabled
confirm_os_window_close   0

# Includes
globinclude conf.d/**/*.conf
globinclude keys.d/**/*.conf

# Shell Settings
allow_remote_control yes
shell_integration enabled
