# vim: filetype=toml.chezmoitmpl
# NOTE: for `npm` backend, mise automatically passes --ignore-scripts

[tools]
# Conditional
{{- if ne .chezmoi.os "darwin" }}
chezmoi = "latest"
{{- end }}

actionlint = "latest"
ansible = { version = "11.6", pipx_args = "--include-deps", uvx = false }
argocd = "latest"
ast-grep = "latest"
aube = "latest"
bat = "latest"
bob = "4"
colima = "latest"
copier = "latest"
cosign = "latest"
cue = "latest"
dagger = "latest"
dapr = "latest"
delta = "0.19.2"
direnv = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
glab = { version = "latest", exe = "glab" }
go = "latest"
golangci-lint = "latest"
granted = "latest"
helm = "latest"
helmfile = "latest"
istioctl = "1.27"
jq = "latest"
k9s = "latest"
krew = "latest"
kubecolor = "latest"
kubectl = "latest"
kubeseal = "latest"
kustomize = "latest"
lazygit = "latest"
lnav = "latest"
lua = "5.1"
luajit = "latest"
minikube = "latest"
neovim = "0.12.5"
node = "26"
pipx = "latest"
pre-commit = "latest"
prettier = "latest"
python = "3.14"
restish = "latest"
ripgrep = "latest"
ruby = "3"
sqlite = "latest"
starship = "latest"
step = "latest"
stern = "latest"
talosctl = "latest"
terraform = "1.12"
terraform-docs = "latest"
terragrunt = "1"
tflint = "latest"
timoni = "latest"
usage = "latest"
uv = "latest"
viddy = "latest"
yq = "latest"
yt-dlp = "latest"

# |> Using Special Backends
# ==> golang backend
"go:golang.org/x/tools/gopls" = "latest"

# ==> npm backend
"npm:neovim" = "latest"
"npm:@earendil-works/pi-coding-agent" = "latest"
"npm:@rivolink/leaf" = "latest"
"npm:@infisical/cli" = "latest"
"npm:mcp-hub" = "latest"
"npm:npm" = "latest"

# ==> gem backend
"gem:neovim" = "latest"

# ==> gitlab release backend
"gitlab:gitlab-org/cli" = "latest"

[settings]
idiomatic_version_file_enable_tools = ["node"]
