# vim: filetype=toml.chezmoitmpl

[tools]
# Infrastructure
terraform = "1.12"
ansible = "latest"
dagger = "latest"
infisical = "latest"
step = "latest"

# Languages & Runtimes
go = "latest"
uv = "latest"

# Kubernetes
argocd = "latest"
colima = "latest"
kubectl = "latest"
kustomize = "latest"
helm = "latest"
helmfile = "latest"
k9s = "latest"
krew = "latest"
kubecolor = "latest"
kubeseal = "latest"
minikube = "latest"
stern = "latest"
talosctl = "latest"
timoni = "latest"
istioctl = "1.27"

# Development
golangci-lint = "latest"
pre-commit = "latest"
actionlint = "latest"
terraform-docs = "latest"
tflint = "latest"
direnv = "latest"
lazygit = "latest"
pipx = "latest"
prettier = "latest"
restish = "latest"

# CLI Tools
# > Using native package managers for their lang
"go:golang.org/x/tools/gopls" = "latest"
"npm:task-master" = "latest"
"npm:task-master-ai" = "latest"
# > Using "whatever"
bat = "latest"
{{- if ne .chezmoi.os "darwin" }}
chezmoi = "latest"
{{- end }}
copier = "latest"
cosign = "latest"
dapr = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
glab = { version = "latest", exe = "glab" }
granted = "latest"
jq = "latest"
lnav = "latest"
neovim = "0.12.2"
node = "25"
opentofu = "latest"
ripgrep = "latest"
starship = "latest"
terragrunt = "1"
usage = "latest"
viddy = "latest"
yq = "latest"
yt-dlp = "latest"
# NOTE: Use the native install of claude-code

[settings]
idiomatic_version_file_enable_tools = ["go"]
