layout {
  default_tab_template {
    children
    pane borderless=true size=1 {
      plugin location="zjstatus"
      // Status Hints: A Zellij plugin that displays context-aware key bindings for each Zellij mode. Extends the functionality of zjstatus.
      // plugin location="zjstatus-hints"
    }
  }
  tab name=""
}
